
# Created by https://www.toptal.com/developers/gitignore/api/django,python,jetbrains+all,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=django,python,jetbrains+all,visualstudiocode

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# If your build process includes running collectstatic, then you probably don't need or want to include staticfiles/
# in your Git repository. Update and uncomment the following line accordingly.
# <django-project-name>/staticfiles/

### Django.Python Stack ###
# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo

# Django stuff:

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
WMA/.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

### JetBrains+all ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# AWS User-specific
.idea/**/aws.xml

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
# .idea/artifacts
# .idea/compiler.xml
# .idea/jarRepositories.xml
# .idea/modules.xml
# .idea/*.iml
# .idea/modules
# *.iml
# *.ipr

# CMake
cmake-build-*/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser

### JetBrains+all Patch ###
# Ignores the whole .idea folder and all .iml files
# See https://github.com/joeblau/gitignore.io/issues/186 and https://github.com/joeblau/gitignore.io/issues/360

.idea/

# Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-249601023

*.iml
modules.xml
.idea/misc.xml
*.ipr

# Sonarlint plugin
.idea/sonarlint

### Python ###
# Byte-compiled / optimized / DLL files

# C extensions

# Distribution / packaging

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.

# Installer logs

# Unit test / coverage reports

# Translations

# Django stuff:

# Flask stuff:

# Scrapy stuff:

# Sphinx documentation

# PyBuilder

# Jupyter Notebook

# IPython

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.

# PEP 582; used by e.g. github.com/David-OConnor/pyflow

# Celery stuff

# SageMath parsed files

# Environments

# Spyder project settings

# Rope project settings

# mkdocs documentation

# mypy

# Pyre type checker

# pytype static type analyzer

# Cython debug symbols

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Support for Project snippet scope
!.vscode/*.code-snippets

# End of https://www.toptal.com/developers/gitignore/api/django,python,jetbrains+all,visualstudiocode
/staticfiles/drf-yasg/swagger-ui-dist/absolute-path.js
/staticfiles/admin/js/actions.js
/staticfiles/admin/js/vendor/select2/i18n/af.js
/staticfiles/rest_framework/js/ajax-form.js
/staticfiles/rest_framework/docs/js/api.js
/staticfiles/admin/js/vendor/select2/i18n/ar.js
/staticfiles/admin/css/autocomplete.css
/staticfiles/admin/js/autocomplete.js
/staticfiles/admin/js/vendor/select2/i18n/az.js
/staticfiles/admin/css/base.css
/staticfiles/rest_framework/docs/css/base.css
/staticfiles/admin/js/vendor/select2/i18n/bg.js
/staticfiles/admin/js/vendor/select2/i18n/bn.js
/staticfiles/rest_framework/css/bootstrap.min.css
/staticfiles/rest_framework/js/bootstrap.min.js
/staticfiles/rest_framework/css/bootstrap-theme.min.css
/staticfiles/rest_framework/css/bootstrap-tweaks.css
/staticfiles/admin/js/vendor/select2/i18n/bs.js
/staticfiles/admin/js/vendor/select2/i18n/ca.js
/staticfiles/admin/js/calendar.js
/staticfiles/admin/img/calendar-icons.svg
/staticfiles/admin/js/cancel.js
/staticfiles/admin/js/change_form.js
/staticfiles/admin/css/changelists.css
/staticfiles/admin/js/collapse.js
/staticfiles/admin/js/core.js
/staticfiles/rest_framework/js/coreapi-0.1.1.js
/staticfiles/admin/js/vendor/select2/i18n/cs.js
/staticfiles/rest_framework/js/csrf.js
/staticfiles/admin/js/vendor/select2/i18n/da.js
/staticfiles/admin/css/dashboard.css
/staticfiles/admin/js/admin/DateTimeShortcuts.js
/staticfiles/admin/js/vendor/select2/i18n/de.js
/staticfiles/rest_framework/css/default.css
/staticfiles/rest_framework/js/default.js
/staticfiles/admin/js/vendor/select2/i18n/dsb.js
/staticfiles/admin/js/vendor/select2/i18n/el.js
/staticfiles/admin/js/vendor/select2/i18n/en.js
/staticfiles/admin/js/vendor/select2/i18n/es.js
/staticfiles/admin/js/vendor/select2/i18n/et.js
/staticfiles/admin/js/vendor/select2/i18n/eu.js
/staticfiles/admin/js/vendor/select2/i18n/fa.js
/staticfiles/rest_framework/docs/img/favicon.ico
/staticfiles/drf-yasg/swagger-ui-dist/favicon-32x32.png
/staticfiles/admin/js/vendor/select2/i18n/fi.js
/staticfiles/rest_framework/css/font-awesome-4.0.3.css
/staticfiles/rest_framework/fonts/fontawesome-webfont.eot
/staticfiles/rest_framework/fonts/fontawesome-webfont.svg
/staticfiles/rest_framework/fonts/fontawesome-webfont.ttf
/staticfiles/rest_framework/fonts/fontawesome-webfont.woff
/staticfiles/admin/css/fonts.css
/staticfiles/admin/css/forms.css
/staticfiles/admin/js/vendor/select2/i18n/fr.js
/staticfiles/admin/js/vendor/select2/i18n/gl.js
/staticfiles/rest_framework/img/glyphicons-halflings.png
/staticfiles/rest_framework/fonts/glyphicons-halflings-regular.eot
/staticfiles/rest_framework/fonts/glyphicons-halflings-regular.svg
/staticfiles/rest_framework/fonts/glyphicons-halflings-regular.ttf
/staticfiles/rest_framework/fonts/glyphicons-halflings-regular.woff
/staticfiles/rest_framework/fonts/glyphicons-halflings-regular.woff2
/staticfiles/rest_framework/img/glyphicons-halflings-white.png
/staticfiles/rest_framework/docs/img/grid.png
/staticfiles/rest_framework/img/grid.png
/staticfiles/admin/js/vendor/select2/i18n/he.js
/staticfiles/admin/js/vendor/select2/i18n/hi.js
/staticfiles/rest_framework/docs/css/highlight.css
/staticfiles/rest_framework/docs/js/highlight.pack.js
/staticfiles/admin/js/vendor/select2/i18n/hr.js
/staticfiles/admin/js/vendor/select2/i18n/hsb.js
/staticfiles/admin/js/vendor/select2/i18n/hu.js
/staticfiles/admin/js/vendor/select2/i18n/hy.js
/staticfiles/admin/img/icon-addlink.svg
/staticfiles/admin/img/icon-alert.svg
/staticfiles/admin/img/icon-calendar.svg
/staticfiles/admin/img/icon-changelink.svg
/staticfiles/admin/img/icon-clock.svg
/staticfiles/admin/img/icon-deletelink.svg
/staticfiles/admin/img/icon-no.svg
/staticfiles/admin/img/icon-unknown.svg
/staticfiles/admin/img/icon-unknown-alt.svg
/staticfiles/admin/img/icon-viewlink.svg
/staticfiles/admin/img/icon-yes.svg
/staticfiles/admin/js/vendor/select2/i18n/id.js
/staticfiles/drf-yasg/immutable.min.js
/staticfiles/drf-yasg/swagger-ui-dist/index.js
/staticfiles/admin/img/inline-delete.svg
/staticfiles/admin/js/inlines.js
/staticfiles/drf-yasg/insQ.min.js
/staticfiles/admin/js/vendor/select2/i18n/is.js
/staticfiles/admin/js/vendor/select2/i18n/it.js
/staticfiles/admin/js/vendor/select2/i18n/ja.js
/staticfiles/admin/js/jquery.init.js
/staticfiles/admin/js/vendor/jquery/jquery.js
/staticfiles/rest_framework/docs/css/jquery.json-view.min.css
/staticfiles/rest_framework/docs/js/jquery.json-view.min.js
/staticfiles/admin/js/vendor/jquery/jquery.min.js
/staticfiles/rest_framework/js/jquery-3.5.1.min.js
/staticfiles/admin/js/vendor/select2/i18n/ka.js
/staticfiles/admin/js/vendor/select2/i18n/km.js
/staticfiles/admin/js/vendor/select2/i18n/ko.js
/staticfiles/admin/img/LICENSE
/staticfiles/admin/js/vendor/select2/LICENSE.md
/staticfiles/admin/fonts/LICENSE.txt
/staticfiles/admin/js/vendor/jquery/LICENSE.txt
/staticfiles/admin/js/vendor/xregexp/LICENSE.txt
/staticfiles/admin/css/vendor/select2/LICENSE-SELECT2.md
/staticfiles/admin/css/login.css
/staticfiles/admin/js/vendor/select2/i18n/lt.js
/staticfiles/admin/js/vendor/select2/i18n/lv.js
/staticfiles/admin/js/vendor/select2/i18n/mk.js
/staticfiles/admin/img/gis/move_vertex_off.svg
/staticfiles/admin/img/gis/move_vertex_on.svg
/staticfiles/admin/js/vendor/select2/i18n/ms.js
/staticfiles/admin/css/nav_sidebar.css
/staticfiles/admin/js/nav_sidebar.js
/staticfiles/admin/js/vendor/select2/i18n/nb.js
/staticfiles/admin/js/vendor/select2/i18n/ne.js
/staticfiles/admin/js/vendor/select2/i18n/nl.js
/staticfiles/drf-yasg/swagger-ui-dist/oauth2-redirect.html
/staticfiles/admin/js/vendor/select2/i18n/pl.js
/staticfiles/admin/js/popup_response.js
/staticfiles/admin/js/prepopulate.js
/staticfiles/admin/js/prepopulate_init.js
/staticfiles/rest_framework/css/prettify.css
/staticfiles/rest_framework/js/prettify-min.js
/staticfiles/admin/js/vendor/select2/i18n/ps.js
/staticfiles/admin/js/vendor/select2/i18n/pt.js
/staticfiles/admin/js/vendor/select2/i18n/pt-BR.js
/staticfiles/admin/fonts/README.txt
/staticfiles/admin/img/README.txt
/staticfiles/drf-yasg/redoc/redoc.min.js
/staticfiles/drf-yasg/redoc-old/redoc.min.js
/staticfiles/drf-yasg/redoc-init.js
/staticfiles/drf-yasg/redoc/redoc-logo.png
/staticfiles/admin/js/admin/RelatedObjectLookups.js
/staticfiles/admin/css/responsive.css
/staticfiles/admin/css/responsive_rtl.css
/staticfiles/admin/js/vendor/select2/i18n/ro.js
/staticfiles/admin/fonts/Roboto-Bold-webfont.woff
/staticfiles/admin/fonts/Roboto-Light-webfont.woff
/staticfiles/admin/fonts/Roboto-Regular-webfont.woff
/staticfiles/admin/css/rtl.css
/staticfiles/admin/js/vendor/select2/i18n/ru.js
/staticfiles/admin/img/search.svg
/staticfiles/admin/css/vendor/select2/select2.css
/staticfiles/admin/js/vendor/select2/select2.full.js
/staticfiles/admin/js/vendor/select2/select2.full.min.js
/staticfiles/admin/css/vendor/select2/select2.min.css
/staticfiles/admin/js/SelectBox.js
/staticfiles/admin/js/SelectFilter2.js
/staticfiles/admin/img/selector-icons.svg
/staticfiles/admin/js/vendor/select2/i18n/sk.js
/staticfiles/admin/js/vendor/select2/i18n/sl.js
/staticfiles/admin/img/sorting-icons.svg
/staticfiles/admin/js/vendor/select2/i18n/sq.js
/staticfiles/admin/js/vendor/select2/i18n/sr.js
/staticfiles/admin/js/vendor/select2/i18n/sr-Cyrl.js
/staticfiles/drf-yasg/style.css
/staticfiles/admin/js/vendor/select2/i18n/sv.js
/staticfiles/drf-yasg/swagger-ui-dist/swagger-ui.css
/staticfiles/drf-yasg/swagger-ui-dist/swagger-ui-bundle.js
/staticfiles/drf-yasg/swagger-ui-dist/swagger-ui-es-bundle.js
/staticfiles/drf-yasg/swagger-ui-dist/swagger-ui-es-bundle-core.js
/staticfiles/drf-yasg/swagger-ui-init.js
/staticfiles/drf-yasg/swagger-ui-dist/swagger-ui-standalone-preset.js
/staticfiles/admin/js/vendor/select2/i18n/th.js
/staticfiles/admin/js/vendor/select2/i18n/tk.js
/staticfiles/admin/img/tooltag-add.svg
/staticfiles/admin/img/tooltag-arrowright.svg
/staticfiles/admin/js/vendor/select2/i18n/tr.js
/staticfiles/admin/js/vendor/select2/i18n/uk.js
/staticfiles/drf-yasg/url-polyfill.min.js
/staticfiles/admin/js/urlify.js
/staticfiles/admin/js/vendor/select2/i18n/vi.js
/staticfiles/admin/css/widgets.css
/staticfiles/admin/js/vendor/xregexp/xregexp.js
/staticfiles/admin/js/vendor/xregexp/xregexp.min.js
/staticfiles/admin/js/vendor/select2/i18n/zh-CN.js
/staticfiles/admin/js/vendor/select2/i18n/zh-TW.js
